@import "tailwindcss";
@import "tw-animate-css";
@source "../**/*.{ts,tsx}";

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

/* :root {
  --background: oklch(0.95 0.005 50);
  --foreground: oklch(0.15 0.003 240);
  --card: oklch(0.97 0.007 50);
  --card-foreground: oklch(0.15 0.003 240);
  --popover: oklch(0.97 0.007 50);
  --popover-foreground: oklch(0.15 0.003 240);
  --primary: oklch(0.2 0.002 240);
  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.96 0.001 240);
  --secondary-foreground: oklch(0.2 0.002 240);
  --muted: oklch(0.96 0.001 240);
  --muted-foreground: oklch(0.46 0.001 240);
  --accent: oklch(0.96 0.001 240);
  --accent-foreground: oklch(0.2 0.002 240);
  --destructive: oklch(0.6 0.2 27);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(0.9 0.002 240);
  --input: oklch(0.9 0.002 240);
  --ring: oklch(0.2 0.002 240);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.9rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --font-weight-bold: 700;


}

.dark {
  --background: oklch(0.15 0.003 240);
  --foreground: oklch(0.98 0 0);
  --card: oklch(0.2 0.002 240);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.2 0.002 240);
  --popover-foreground: oklch(0.98 0 0);
  --primary: oklch(0.98 0 0);
  --primary-foreground: oklch(0.2 0.002 240);
  --secondary: oklch(0.25 0.001 240);
  --secondary-foreground: oklch(0.98 0 0);
  --muted: oklch(0.25 0.001 240);
  --muted-foreground: oklch(0.65 0.001 240);
  --accent: oklch(0.25 0.001 240);
  --accent-foreground: oklch(0.98 0 0);
  --destructive: oklch(0.3 0.15 27);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(0.25 0.001 240);
  --input: oklch(0.25 0.001 240);
  --ring: oklch(0.84 0.001 240);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);

  --shadow-bevel-dark: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px,
                      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
                      rgba(0, 0, 0, 0.35) 0px -2px 6px 0px inset;
  --shadow-button-dark: rgba(0, 0, 0, 0.3) 0px 6px 12px -2px,
                      rgba(0, 0, 0, 0.2) 0px 3px 7px -3px;
  --shadow-card-dark: rgba(0, 0, 0, 0.35) 0px 30px 60px -12px,
                    rgba(0, 0, 0, 0.25) 0px 18px 36px -18px;
} */

:root {
  --background: oklch(1.0 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1.0 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1.0 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.5012 0.2165 276.5474);
  --primary-foreground: oklch(0.9506 0.0272 254.1701);
  --secondary: oklch(0.93 0.025 260);
  --secondary-foreground: oklch(0.3 0.03 260);
  --muted: oklch(0.9612 0 0);
  --muted-foreground: oklch(0.5555 0 0);
  --accent: oklch(0.9612 0 0);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.5998 0.2461 29.2339);
  --destructive-foreground: oklch(1.0 0 0);
  --border: oklch(0.9249 0 0);
  --input: oklch(0.9612 0 0);
  --ring: oklch(0.5555 0 0);
  --chart-1: oklch(0.5998 0.2461 29.2339);
  --chart-2: oklch(0.8276 0.2816 142.4953);
  --chart-3: oklch(0.4317 0.2992 264.052);
  --chart-4: oklch(0.9246 0.2015 109.7692);
  --chart-5: oklch(0.6702 0.308 328.3634);
  --sidebar: oklch(1.0 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1.0 0 0);
  --sidebar-accent: oklch(0.9612 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9249 0 0);
  --sidebar-ring: oklch(0.5555 0 0);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --radius: 0.75rem;
  --shadow-2xs: 0 0 30px 0 hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 0 30px 0 hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 0 30px 0 hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 0 30px 0 hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 0 30px 0 hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 0 30px 0 hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 0 30px 0 hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 0 30px 0 hsl(0 0% 0% / 0.25);
  --shadow-bevel:
    rgba(50, 50, 93, 0.08) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.11) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.1) 0px -2px 6px 0px inset;
  --shadow-button: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.1);
  --shadow-card: rgba(50, 50, 93, 0.15) 0px 30px 60px -12px, rgba(0, 0, 0, 0.08)
    0px 18px 36px -18px;
  --tracking-normal: 0;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1.0 0 0);
  --card: oklch(0 0 0);
  --card-foreground: oklch(1.0 0 0);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(1.0 0 0);
  --primary: oklch(52.74% 0.1572 276.5);
  --primary-foreground: oklch(98.13% 0.0039 270);
  --secondary: oklch(19.63% 0.0267 286.46);
  --secondary-foreground: oklch(80.14% 0.0275 282.42);
  --muted: oklch(0.2686 0 0);
  --muted-foreground: oklch(0.5555 0 0);
  --accent: oklch(0.2686 0 0);
  --accent-foreground: oklch(1.0 0 0);
  --destructive: oklch(0.5998 0.2461 29.2339);
  --destructive-foreground: oklch(1.0 0 0);
  --border: oklch(0.2686 0 0);
  --input: oklch(0.2686 0 0);
  --ring: oklch(0.5555 0 0);
  --chart-1: oklch(0.5998 0.2461 29.2339);
  --chart-2: oklch(0.8276 0.2816 142.4953);
  --chart-3: oklch(0.4317 0.2992 264.052);
  --chart-4: oklch(0.9246 0.2015 109.7692);
  --chart-5: oklch(0.6702 0.308 328.3634);
  --sidebar: oklch(0 0 0);
  --sidebar-foreground: oklch(1.0 0 0);
  --sidebar-primary: oklch(1.0 0 0);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.2686 0 0);
  --sidebar-accent-foreground: oklch(1.0 0 0);
  --sidebar-border: oklch(0.2686 0 0);
  --sidebar-ring: oklch(0.5555 0 0);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 0 30px 0 hsl(0 0% 0% / 0.25);
  --shadow-xs: 0 0 30px 0 hsl(0 0% 0% / 0.25);
  --shadow-sm: 0 0 30px 0 hsl(0 0% 0% / 0.5), 0 1px 2px -1px hsl(0 0% 0% / 0.5);
  --shadow: 0 0 30px 0 hsl(0 0% 0% / 0.5), 0 1px 2px -1px hsl(0 0% 0% / 0.5);
  --shadow-md: 0 0 30px 0 hsl(0 0% 0% / 0.5), 0 2px 4px -1px hsl(0 0% 0% / 0.5);
  --shadow-lg: 0 0 30px 0 hsl(0 0% 0% / 0.5), 0 4px 6px -1px hsl(0 0% 0% / 0.5);
  --shadow-xl: 0 0 30px 0 hsl(0 0% 0% / 0.5), 0 8px 10px -1px hsl(0 0% 0% / 0.5);
  --shadow-2xl: 0 0 30px 0 hsl(0 0% 0% / 1.25);

  --shadow-bevel:
    rgba(0, 0, 0, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(0, 0, 0, 0.35) 0px -2px 6px 0px inset;
  --shadow-button: inset 1px 1px 1px rgba(255, 255, 255, 0.08), inset -1px -1px 1px rgba(0, 0, 0, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  --shadow-card: rgba(0, 0, 0, 0.35) 0px 30px 60px -12px, rgba(0, 0, 0, 0.25)
    0px 18px 36px -18px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-bevel: var(--shadow-bevel);
  --shadow-button: var(--shadow-button);
  --shadow-card: var(--shadow-card);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

body {
  letter-spacing: var(--tracking-normal);
}

/* This layer is added by shadcn/ui */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* This layer is by next-forge */
@layer base {
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border;
  }
  * {
    @apply min-w-0;
  }
  html {
    text-rendering: optimizelegibility;
  }
  body {
    @apply min-h-[100dvh];
  }
  input::placeholder,
  textarea::placeholder {
    @apply text-muted-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }
}

/* Typography plugin */
@utility prose {
  --tw-prose-body: var(--color-foreground);
  --tw-prose-headings: var(--color-foreground);
  --tw-prose-lead: var(--color-muted-foreground);
  --tw-prose-links: var(--color-primary);
  --tw-prose-bold: var(--color-foreground);
  --tw-prose-counters: var(--color-foreground);
  --tw-prose-bullets: var(--color-muted-foreground);
  --tw-prose-hr: var(--color-muted-foreground);
  --tw-prose-quotes: var(--color-muted-foreground);
  --tw-prose-quote-borders: var(--color-border);
  --tw-prose-captions: var(--color-muted-foreground);
  --tw-prose-code: var(--color-foreground);
  --tw-prose-pre-code: var(--color-foreground);
  --tw-prose-pre-bg: var(--color-background);
  --tw-prose-th-borders: var(--color-border);
  --tw-prose-td-borders: var(--color-border);
  --tw-prose-invert-body: var(--color-foreground);
  --tw-prose-invert-headings: var(--color-foreground);
  --tw-prose-invert-lead: var(--color-muted-foreground);
  --tw-prose-invert-links: var(--color-primary);
  --tw-prose-invert-bold: var(--color-foreground);
  --tw-prose-invert-counters: var(--color-foreground);
  --tw-prose-invert-bullets: var(--color-foreground);
  --tw-prose-invert-hr: var(--color-muted-foreground);
  --tw-prose-invert-quotes: var(--color-muted-foreground);
  --tw-prose-invert-quote-borders: var(--color-border);
  --tw-prose-invert-captions: var(--color-muted-foreground);
  --tw-prose-invert-code: var(--color-foreground);
  --tw-prose-invert-pre-code: var(--color-foreground);
  --tw-prose-invert-pre-bg: var(--color-background);
  --tw-prose-invert-th-borders: var(--color-border);
  --tw-prose-invert-td-borders: var(--color-border);
}
