@import "tailwindcss";
@import "tw-animate-css";
@source "../**/*.{ts,tsx}";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9827 0.0026 286.3511);
  --foreground: oklch(0.2527 0.0207 284.8269);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2527 0.0207 284.8269);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2527 0.0207 284.8269);
  --primary: oklch(0.5216 0.2318 273.3197);
  --primary-foreground: oklch(0.9842 0.0034 247.8575);
  --secondary: oklch(0.9051 0.0203 285.9867);
  --secondary-foreground: oklch(0.3963 0.0251 285.1962);
  --muted: oklch(0.9478 0.008 286.2459);
  --muted-foreground: oklch(0.5223 0.036 285.0867);
  --accent: oklch(0.9099 0.0149 286.1006);
  --accent-foreground: oklch(0.2035 0.0139 285.1021);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.9099 0.0149 286.1006);
  --input: oklch(0.9099 0.0149 286.1006);
  --ring: oklch(0.5216 0.2318 273.3197);
  --chart-1: oklch(0.5298 0.1932 262.0493);
  --chart-2: oklch(0.6697 0.1459 250.9221);
  --chart-3: oklch(0.6965 0.1299 235.1201);
  --chart-4: oklch(0.7319 0.1228 215.6967);
  --chart-5: oklch(0.4487 0.1826 268.8853);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2527 0.0207 284.8269);
  --sidebar-primary: oklch(0.5216 0.2318 273.3197);
  --sidebar-primary-foreground: oklch(0.9842 0.0034 247.8575);
  --sidebar-accent: oklch(0.9445 0.0136 277.0583);
  --sidebar-accent-foreground: oklch(0.2527 0.0207 284.8269);
  --sidebar-border: oklch(0.8937 0.0178 279.0335);
  --sidebar-ring: oklch(0.5216 0.2318 273.3197);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 0.75rem;
  --shadow-2xs: 0 1px 3px hsl(240 8% 15% / 0.04);
  --shadow-xs: 0 1px 4px hsl(240 8% 15% / 0.05);
  --shadow-sm:
    0 2px 6px hsl(240 8% 15% / 0.06), 0 1px 2px -1px hsl(240 8% 15% / 0.06);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg:
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl:
    0 8px 20px -3px hsl(240 8% 15% / 0.09),
    0 8px 10px -1px hsl(240 8% 15% / 0.09);
  --shadow-2xl:
    0 10px 25px hsl(240 8% 15% / 0.1), 0 10px 10px -1px hsl(240 8% 15% / 0.1);
  --tracking-normal: 0.025em;
}

.dark {
  --background: oklch(0.1698 0.0062 285.7219);
  --foreground: oklch(0.959 0.004 286.3243);
  --card: oklch(0.2074 0.0118 285.3241);
  --card-foreground: oklch(0.959 0.004 286.3243);
  --popover: oklch(0.2074 0.0118 285.3241);
  --popover-foreground: oklch(0.959 0.004 286.3243);
  --primary: oklch(0.55 0.1775 277.3714);
  --primary-foreground: oklch(0.9851 0 0);
  --secondary: oklch(0.2962 0.0289 284.4994);
  --secondary-foreground: oklch(0.8352 0.011 286.1583);
  --muted: oklch(0.2554 0.015 285.293);
  --muted-foreground: oklch(0.627 0.0163 285.9189);
  --accent: oklch(0.2888 0.0163 285.3337);
  --accent-foreground: oklch(0.9674 0.0013 286.3752);
  --destructive: oklch(0.3958 0.1331 25.723);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.2725 0.0166 285.249);
  --input: oklch(0.2725 0.0166 285.249);
  --ring: oklch(0.55 0.1775 277.3714);
  --chart-1: oklch(0.4705 0.1826 261.8207);
  --chart-2: oklch(0.5993 0.1886 256.2313);
  --chart-3: oklch(0.5508 0.167 252.4443);
  --chart-4: oklch(0.4796 0.1489 253.2282);
  --chart-5: oklch(0.3304 0.1454 281.9327);
  --sidebar: oklch(0.2095 0.0197 284.5733);
  --sidebar-foreground: oklch(0.9674 0.0013 286.3752);
  --sidebar-primary: oklch(0.4882 0.2172 264.3763);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.3032 0.0089 285.8559);
  --sidebar-accent-foreground: oklch(0.9674 0.0013 286.3752);
  --sidebar-border: oklch(0.3922 0.0083 286.0086);
  --sidebar-ring: oklch(0.6231 0.188 259.8145);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 0.75rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(250 10% 15% / 0.04);
  --shadow-xs: 0px 1px 2px 0px hsl(250 10% 15% / 0.06);
  --shadow-sm:
    0px 1px 2px 0px hsl(250 10% 15% / 0.06),
    0px 1px 3px 0px hsl(250 10% 15% / 0.12);
  --shadow:
    0px 1px 3px 0px hsl(250 10% 15% / 0.12),
    0px 1px 2px -1px hsl(250 10% 15% / 0.12);
  --shadow-md:
    0px 4px 6px -1px hsl(250 10% 15% / 0.12),
    0px 2px 4px -2px hsl(250 10% 15% / 0.12);
  --shadow-lg:
    0px 10px 15px -3px hsl(250 10% 15% / 0.15),
    0px 4px 6px -4px hsl(250 10% 15% / 0.12);
  --shadow-xl:
    0px 20px 25px -5px hsl(250 10% 15% / 0.2),
    0px 8px 10px -6px hsl(250 10% 15% / 0.15);
  --shadow-2xl: 0px 25px 50px -12px hsl(250 10% 15% / 0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius));
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-bevel: var(--shadow-bevel);
  --shadow-button: var(--shadow-button);
  --shadow-card: var(--shadow-card);
  --shadow-bevel-card: var(--shadow-bevel-card);
  --shadow-bevel-primary: var(--shadow-bevel-primary);
  --shadow-bevel-secondary: var(--shadow-bevel-secondary);
  --shadow-bevel-accent: var(--shadow-bevel-accent);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

body {
  letter-spacing: var(--tracking-normal);
}

/* This layer is added by shadcn/ui */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* This layer is by next-forge */
@layer base {
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border;
  }
  * {
    @apply min-w-0;
  }
  html {
    text-rendering: optimizelegibility;
  }
  body {
    @apply min-h-[100dvh];
  }
  input::placeholder,
  textarea::placeholder {
    @apply text-muted-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }
}

/* Typography plugin */
@utility prose {
  --tw-prose-body: var(--color-foreground);
  --tw-prose-headings: var(--color-foreground);
  --tw-prose-lead: var(--color-muted-foreground);
  --tw-prose-links: var(--color-primary);
  --tw-prose-bold: var(--color-foreground);
  --tw-prose-counters: var(--color-foreground);
  --tw-prose-bullets: var(--color-muted-foreground);
  --tw-prose-hr: var(--color-muted-foreground);
  --tw-prose-quotes: var(--color-muted-foreground);
  --tw-prose-quote-borders: var(--color-border);
  --tw-prose-captions: var(--color-muted-foreground);
  --tw-prose-code: var(--color-foreground);
  --tw-prose-pre-code: var(--color-foreground);
  --tw-prose-pre-bg: var(--color-background);
  --tw-prose-th-borders: var(--color-border);
  --tw-prose-td-borders: var(--color-border);
  --tw-prose-invert-body: var(--color-foreground);
  --tw-prose-invert-headings: var(--color-foreground);
  --tw-prose-invert-lead: var(--color-muted-foreground);
  --tw-prose-invert-links: var(--color-primary);
  --tw-prose-invert-bold: var(--color-foreground);
  --tw-prose-invert-counters: var(--color-foreground);
  --tw-prose-invert-bullets: var(--color-foreground);
  --tw-prose-invert-hr: var(--color-muted-foreground);
  --tw-prose-invert-quotes: var(--color-muted-foreground);
  --tw-prose-invert-quote-borders: var(--color-border);
  --tw-prose-invert-captions: var(--color-muted-foreground);
  --tw-prose-invert-code: var(--color-foreground);
  --tw-prose-invert-pre-code: var(--color-foreground);
  --tw-prose-invert-pre-bg: var(--color-background);
  --tw-prose-invert-th-borders: var(--color-border);
  --tw-prose-invert-td-borders: var(--color-border);
}
